<nav class="ks-navbar d-none d-md-flex align-items-center justify-content-between px-4">
	<a href="{{ path('app_home') }}" class="text-decoration-none">
		<img src="{{ asset('images/LOGO-KreativShop.png') }}" alt="KreativShop" height="40">
	</a>

	<ul class="d-flex list-unstyled mb-0 gap-1">
		<li>
			<a href="{{ path('app_home') }}" class="nav-link {% if app.request.attributes.get('_route') == 'app_home' %}active{% endif %}">Home</a>
		</li>
		<li>
			<a href="{{ path('app_news') }}" class="nav-link">News</a>
		</li>
		<li>
			<a href="{{ path('app_bestsellers') }}" class="nav-link">Bestsellers</a>
		</li>
		<li>
			<a href="{{ path('app_discover') }}" class="nav-link">Discover</a>
		</li>
		<li>
			<a href="{{ path('app_contact') }}" class="nav-link">Contact</a>
		</li>
	</ul>

	<div class="d-flex align-items-center gap-3">
		{% if app.user %}
			<a href="{{ path('app_dashboard') }}" class="ks-btn-signup">
				{{ app.user.firstname }}
			</a>
			<a href="{{ path('app_logout') }}" class="ks-btn-login">Logout</a>
		{% else %}
			<a href="{{ path('app_register') }}" class="ks-btn-signup">Sign up</a>
			<a href="{{ path('app_login') }}" class="ks-btn-login">Login</a>
		{% endif %}
		<a href="#" class="ks-basket">
			<i class="bi bi-bag fs-5"></i><br>
			<span>Basket</span>
		</a>
	</div>
</nav>
